body {
  background-color: #c6c6c2;
  color: #000000;
}

/*general*/
.segment {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  box-shadow: 0px 1px 5px 0px #000;
}

.main-display {
  align-items: center;
  padding: 0px;
  max-width: 960px;
}

.text-box {
  background-color: #ffffff;
  padding: 30px;
  max-width: 960px;
}

.navbar-placeholder {
  background-color: #0282f9;
  height: 30px;
  width: 100%;
  position: relative;
}

/*movie page*/
.movie-segment {
  display: flex;
  flex-flow: column nowrap;
  background-color: #ffffff;
  max-width: 960px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 5px 0px #000;
}

.movie-segment1 {
  display: flex;

  padding: 30px;
  flex-direction: row;
}

hr.title {
  border-top: 1px solid #000000;
}

.movie-poster {
  max-width: 300px;
  border: solid #383838;
  border-radius: 20px;
  border-width: thin;
  transition: 0.5s ease;
}

.expand-text {
  text-align: center;
  font-size: 14px;
}
.movie-poster:hover {
  opacity: 0.5;
}

.movie-synopsis {
  margin-left: 20px;
  padding: 10px 0px 30px 30px;
}
