.form-control {
  height: 45px;
  padding: 21px;
  margin-bottom: 10px;
}

.login-btn {
  width: 100%;
  height: 45px;
  background-color: #0282f9;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.login-btn:hover {
  background-color: #0071db;
}

.login-btn:active,
.login-btn:focus {
  outline: none;
}
