.movie-poster {
  max-width: 300px;
  border: solid #dfdfdf;
  border-radius: 20px;
  border-width: thin;
  transition: 0.5s ease;
}

.expand-text {
  text-align: center;
  font-size: 14px;
}
.movie-poster:hover {
  opacity: 0.5;
}

.movie-synopsis {
  margin-left: 20px;
  padding: 10px 0px 30px 30px;
}

hr.title {
  border-top: 1px solid #000000;
}
