.movie-poster {
  max-width: 300px;
  border: solid #dfdfdf;
  border-radius: 20px;
  border-width: thin;
  transition: 0.5s ease;
}

.expand-text {
  text-align: center;
  font-size: 14px;
}

.movie-poster:hover {
  filter: brightness(50%);
}

.movie-synopsis {
  margin-left: 20px;
  padding: 10px 0px 30px 30px;
}

hr.title {
  border-top: 1px solid #000000;
}

.add-to-watchlist {
  background-color: #dfdfdf;
  width: 100%;
  border: none;
}

.add-to-watchlist:hover {
  background-color: #a5a5a5;
  outline: none;
}

.add-to-watchlist:focus {
  outline: none;
}

.added-to-watchlist {
  background-color: #78a44f;
  width: 100%;
  border: none;
}

.added-to-watchlist:hover {
  background-color: #88b95a;
}

.added-to-watchlist:focus {
  outline: none;
}
